<fieldset>
  <%= content_tag(:legend, l(:project_filtering_text_configuration)) %>
  
  <% @project_custom_fields.each do |field| %>
    <p>
    <% plugin_settings = @settings['project_filtering_used_fields'] %>
    <% dom_id = "settings[project_filtering_used_fields][#{field.id}]" %>
    <%= label_tag dom_id, field.name %>
    <% checked = plugin_settings.present? && plugin_settings[field.id.to_s].present?  %>
    <%= check_box_tag dom_id, 1, checked %>
    </p>
  <% end %>

</fieldset>
