<div class='custom_field'>
  <%= label_tag 'custom_field.name', l(custom_field.name, :default => custom_field.name) %>
  <%= select_tag(custom_field.name, 
        options_from_collection_for_select([nil] + custom_field.possible_values, 'to_s', 'to_s'),
        :include_blank => true
      )
  %>
</div>
