<% if @featured_projects && @featured_projects.any? %>

  <div class="splitcontentleft">
    <%= render_project_hierarchy_with_filtering(@projects, @custom_fields, @question) %>
  </div>

  <div class="splitcontentright">
    <h3 id="featured-projects-title"><%=l(:project_filtering_featured_projects_label) %></h3>
    <div id="featured-projects-box" class="box">
      <%= render_project_hierarchy_with_filtering(@featured_projects, @custom_fields, @question) %>
    </div>
  </div>

<% else %>

  <%= render_project_hierarchy_with_filtering(@projects, @custom_fields, @question) %>

<% end %>

