<p class='custom_field license'>
  <%= label_tag :license_version_id, t(:label_license) %>
  <%= select_tag( :license_version_id,
        options_from_collection_for_select(@license_versions, :id, :title)
      )
  %>
</p>
