#project_filtering label          { display: block; }
#project_filtering {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#project_filtering p {
  display: block;
  float: left;
  margin-right: 5px;
}


#project_filtering p.buttons{
  clear: both;
  with: 100%;
  float: none;
}

ul.filter_fields { padding: 0; }
ul.filter_fields li {
  list-style-type: none;
  display: inline;
  margin: 0 10px 0 0;
}

